#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
[workspace]
resolver = "2"
members = [
  "zenoh-bridge-dds",
  "zenoh-plugin-dds",
]

[workspace.package]
version = "0.10.1-rc"
authors = [
    "kydos <angelo@icorsaro.net>",
    "Esteve Fernandez <esteve.fernandez@gmail.com>",
    "Julien Enoch <julien@enoch.fr>",
    "Pierre Avital <pierre.avital@adlinktech.com>",
]
edition = "2021"
repository = "https://github.com/eclipse-zenoh/zenoh-plugin-dds"
homepage = "http://zenoh.io"
license = "EPL-2.0 OR Apache-2.0"

[workspace.dependencies]
async-liveliness-monitor = "0.1.1"
async-std = "=1.12.0"
async-trait = "0.1.66"
bincode = "1.3.3"
cdr = "0.2.4"
clap = "3.2.23"
cyclors = { version = "0.2.0", git = "https://github.com/kydos/cyclors", branch = "master" }
derivative = "2.2.0"
env_logger = "0.10.0"
flume = "0.11.0"
futures = "0.3.26"
git-version = "0.3.5"
hex = "0.4.3"
lazy_static = "1.4.0"
log = "0.4.17"
regex = "1.7.1"
rustc_version = "0.4"
serde = "1.0.154"
serde_json = "1.0.94"
zenoh = { version = "0.10.1-rc", features = ["unstable"] }
zenoh-collections = { version = "0.10.1-rc" }
zenoh-core = { version = "0.10.1-rc" }
zenoh-ext = { version = "0.10.1-rc", features = ["unstable"] }
zenoh-plugin-rest = { version = "0.10.1-rc", default-features = false }
zenoh-plugin-trait = { version = "0.10.1-rc", default-features = false }
zenoh-util = { version = "0.10.1-rc", default-features = false }

[profile.release]
debug = false
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
