#
# Copyright (c) 2017, 2020 ADLINK Technology Inc.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ADLINK zenoh team, <zenoh@adlink-labs.tech>
#
[package]
name = "zenoh-bridge-dds"
version = "0.5.0-beta.9"
authors = [
	"kydos <angelo@icorsaro.net>",
	"Esteve Fernandez <esteve.fernandez@gmail.com>",
	"Pierre Avital <pierre.avital@adlinktech.com",
]
edition = "2018"
repository = "https://github.com/eclipse-zenoh/zenoh-plugin-dds"
homepage = "http://zenoh.io"
license = " EPL-2.0 OR Apache-2.0"
categories = ["network-programming"]
description = "Zenoh plugin for ROS2 and DDS in general"

[dependencies]
clap = "2.33"
env_logger = "0.9.0"
zenoh = "0.5.0-beta.9"
zenoh-plugin-rest = { version = "0.5.0-beta.9", default-features = false }
zenoh-plugin-trait = { version = "0.5.0-beta.9", default-features = false }
zplugin-dds = { path = "../zplugin-dds", default-features = false }


[dependencies.async-std]
version = "1.9.0"
features = ["unstable", "attributes"]


[[bin]]
name = "zenoh-bridge-dds"
path = "src/main.rs"
