#
# Copyright (c) 2022 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#
name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install ACL
        if: startsWith(matrix.os,'ubuntu')
        run: sudo apt-get -y install libacl1-dev

      # cyclors 0.3.x does not compile with cmake 4
      - name: Install cmake
        uses: jwlawson/actions-setup-cmake@v2
        with: 
          cmake-version: '3.31.x'

      - name: Install LLVM toolchain
        if: startsWith(matrix.os,'macos')
        run: |
          brew install llvm@19
          ls /opt/homebrew/opt/llvm@19/bin
          echo "/opt/homebrew/opt/llvm@19/bin" >> $GITHUB_PATH

      - name: Install Rust toolchain
        run: |
          rustup show
          rustup component add rustfmt clippy

      - name: Code format check
        run: cargo fmt --check -- --config "unstable_features=true,imports_granularity=Crate,group_imports=StdExternalCrate"
      - name: Clippy without Cargo.lock
        run: |
          rm Cargo.lock
          cargo clippy --all -- -D warnings
          git restore Cargo.lock

      - name: Build zenoh-plugin-dds
        run: cargo build -p zenoh-plugin-dds --verbose --all-targets

      - name: Build zenoh-plugin-dds (with dds_shm)
        if: ${{ ! startsWith(matrix.os,'windows') }}
        run: cargo build -p zenoh-plugin-dds --features dds_shm --verbose --all-targets

      - name: Build zenoh-plugin-dds (with prefix_symbols)
        run: cargo build -p zenoh-plugin-dds --features prefix_symbols --verbose --all-targets

      - name: Build zenoh-plugin-dds (with dds_security)
        if: ${{ ! startsWith(matrix.os,'windows') }}
        run: cargo build -p zenoh-plugin-dds --features dds_security --verbose --all-targets

      - name: Build zenoh-bridge-dds
        run: cargo build -p zenoh-bridge-dds  --verbose --all-targets

      - name: Build zenoh-bridge-dds (with dds_shm)
        if: ${{ ! startsWith(matrix.os,'windows') }}
        run: cargo build -p zenoh-bridge-dds --features dds_shm  --verbose --all-targets

      - name: Build zenoh-bridge-dds (with prefix_symbols)
        run: cargo build -p zenoh-bridge-dds --features prefix_symbols  --verbose --all-targets

      - name: Build zenoh-bridge-dds (with dds_security)
        if: ${{ ! startsWith(matrix.os,'windows') }}
        run: cargo build -p zenoh-bridge-dds --features dds_security  --verbose --all-targets

      - name: Run tests
        run: cargo test --verbose

      - name: Run tests (with dds_shm)
        if: ${{ ! startsWith(matrix.os,'windows') }}
        run: cargo test --features dds_shm --verbose

      - name: Run tests (with prefix_symbols)
        run: cargo test --features prefix_symbols --verbose

      - name: Run tests (with dds_security)
        if: ${{ ! startsWith(matrix.os,'windows') }}
        run: cargo test --features dds_security --verbose

  markdown_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v18
        with:
          config: '.markdownlint.yaml'
          globs: '**/README.md'

  # NOTE: In GitHub repository settings, the "Require status checks to pass
  # before merging" branch protection rule ensures that commits are only merged
  # from branches where specific status checks have passed. These checks are
  # specified manually as a list of workflow job names. Thus we use this extra
  # job to signal whether all CI checks have passed.
  ci:
    name: CI status checks
    runs-on: ubuntu-latest
    needs: [build, markdown_lint]
    if: always()
    steps:
      - name: Check whether all jobs pass
        run: echo '${{ toJson(needs) }}' | jq -e 'all(.result == "success")'
